DEX__LDAP_HOST='ldaps.company.com:636'
DEX__LDAP_BIND_DN='CN=kubernetes,OU=users,DC=company,DC=com'
DEX__LDAP_BIND_PW='secret'
DEX__LDAP_USERSEARCH_BASE_DN='DC=company,DC=com'
DEX__LDAP_GROUPSEARCH_BASE_DN='OU=groups,DC=company,DC=com'
DEX__STATIC_KUBERNETES_SECRET='another secret'
DEX__LDAP_CA_FILENAME='ldaps.company.com.crt'
